<div class="time_table">
  <% count = 0 %>
  <% @org.group_projects.each do |gp| %>
    <% if gp.group.name == time_stuff && gp.end_date >= Date.current %>
      <p><%= link_to gp.group.name, gp.group if count < 1  %></p>
      <p><%= gp.start_date.to_s(:short) %> - <%= gp.end_date.to_s(:short) %> <%= link_to gp.task, group_group_project_path(gp.group, gp) %></p>
      <% count += 1 %>
    <% end %>
  <% end %>
</div>
