<h2 class="thin"><%= @org.name.capitalize %>'s Members</h2>
<% @org.users.each do |u| %>
  <div class="user-display-all">
    <% if u.image %>
      <p><%= cl_image_tag("#{u.image}.jpg", class: "image-profile")  %></p>
    <% end %>
    <p><%= link_to u.name, u %></p>
    <p><%= u.job_title %></p>
  </div>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
