<h2><%= @group.name.capitalize %>'s Members</h2>
<% @group.users.each do |u| %>
  <div class="user-display-all">
    <% if u.image %>
      <p><%= cl_image_tag("#{u.image}.jpg", class: "image-profile")  %></p>
    <% end %>
    <p><%= link_to u.name, u %></p>
    <p><%= u.job_title %></p>
  </div>
<% end %>
