<h2><%= @user.name %>'s profile</h2>
<p><%= @user.email %></p>
<p><%= @user.job_title %></p>
<% if @current_user.organisations.blank? %>
  <%= link_to "Find organisation", organisations_path %>
<% end %>
