
<footer class="page-footer blue valign-wrapper footer">
    <div class="container valign white-text">
        Site by Ned Pike
        <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-github" aria-hidden="true"> </i></a>
        <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-linkedin" aria-hidden="true"> </i></a>
    </div>
</footer>
