<div class="row">



  <div class="col s12 m10 offset-m1">
    <div class="home section scrollspy" id="home">
      <h1 id="header" class="thin">Workspace</h1>
      <%= link_to "Sign up now", new_user_path, class: "btn btn-primary center-align" %>
    </div>

    <div class="cont valign-wrapper">
      <p class="section scrollspy black-text" id="initialization">hello</p>
      <div class="valign">
        <h3 class="white-text thin">What we're about</h3>
        <p class="white-text">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
      </div>
    </div>

     <div class="high">
       <p class="section scrollspy white-text" id="structure">hello</p>
       <h3 class="center mask thin">Company snapshot</h3>
       <div class="col s12 m4 center">
         <div class="card hoverable center">
           <div class="card-image">
            <%= cl_image_tag("Screen_Shot_2016-12-01_at_12.28.16_pm_dljx2x.png", height: 230) %>
                Complete user dashboard
           </div>
           <div class="card-action">
             <p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
           </div>
         </div>
       </div>

       <div class="col s12 m4 center">
         <div class="card hoverable center">
           <div class="card-image">
             <%= cl_image_tag("Screen_Shot_2016-12-01_at_12.27.37_pm_y9ujqs.png", height: 230)  %>
             <span class="card-title"><p >Heading</p></span>
                 Complete calendar
           </div>
           <div class="card-action">
             <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
           </div>
         </div>
       </div>

       <div class="col s12 m4 center">
         <div class="card hoverable center">
           <div class="card-image">
             <%= cl_image_tag("Screen_Shot_2016-12-01_at_12.27.08_pm_ddswgr.png", height: 230)  %>
             Communicate effectively
           </div>
           <div class="card-action">
             <p>Completely synergize resource taxing relationships via premier niche markets.</p>
           </div>
         </div>
       </div>
     </div>


   </div>

   <div class="col hide-on-small-only m1">
     <ul class="section table-of-contents">
       <li><a href="#home">Sign up!</a></li>
       <li><a href="#initialization">About</a></li>
       <li><a href="#structure">Snapshot</a></li>
     </ul>
   </div>

 </div>
